<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JavaScript -->
    <script defer src="/static/js/create.js"></script>
    <title>Document</title>
</head>

<body>
  <label for="basic-url" class="form-label">Author</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Author" id="input-author">
  </div>
  
  <label for="basic-url" class="form-label">Title</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Title" id="input-title">
  </div>
  
  <label for="basic-url" class="form-label">Comment</label>
  <div class="input-group mb-3">
    <input type="text" id="input-comment" class="form-control" placeholder="Comment" height="500px">
  </div>
  
  <label for="basic-url" class="form-label">Password</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Password" id="input-password">
  </div>
    
  <input class="btn btn-primary" id="create" type="submit" value="게시물 생성">
</body>

</html>