<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>login</title>
  <script>
    // 간단한 회원가입 함수입니다.
    // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
    function register() {
      $.ajax({
        type: "POST",
        url: "/api/signup",
        data: {
          id: $("#userid").val(),
          pw: $("#userpw").val(),
        },
        success: function (response) {
          if (response["result"] == "success") {
            alert("회원가입이 완료되었습니다.");
            window.location.href = "/login";
          } else {
            alert(response["msg"]);
          }
        },
      });
    }
  </script>
</head>

<body>
  <div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="userid">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="userpw">
      </div>
    </div>

    <button type="button" class="btn btn-primary" id="like" onclick="register()">회원가입하기
    </button>
    <a href="/">
      <button type="button" class="btn btn-primary" id="like">홈
      </button>
    </a>
    <a href="/login">
      <button type="button" class="btn btn-primary" id="like">로그인
      </button>
    </a>

  </div>
</body>

</html>